---
import "ui-shadcn-vue/src/index.css";
import LayoutHelpers from "ui-shadcn-vue/src/ui-plus/LayoutHelpers.vue";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="color-scheme" content="light dark" />
		<meta
			name="viewport"
			content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
		/>
		<!-- <meta name="format-detection"
                  content="telephone=no, email=no, address=no, date=no" /> -->

		<meta name="msapplication-tap-highlight" content="no" />

		<!-- add to homescreen for ios -->
		<meta name="apple-mobile-web-app-title" content="Auth" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="generator" content={Astro.generator} />
		<title>Auth Client</title>
		<script is:inline>
			const getThemePreference = () => {
				if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
					return localStorage.getItem("theme");
				}
				return window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light";
			};
			const isDark = getThemePreference() === "dark";
			document.documentElement.classList[isDark ? "add" : "remove"]("dark");
			if (typeof localStorage !== "undefined") {
				const observer = new MutationObserver(() => {
					const isDark = document.documentElement.classList.contains("dark");
					localStorage.setItem("theme", isDark ? "dark" : "light");
				});
				observer.observe(document.documentElement, { attributes: true, attributeFilter: ["class"] });
			}
		</script>
	</head>
	<body class="hidden">
		<div class="mx-auto w-full sm:max-w-[600px]">
			<slot />
		</div>
		<LayoutHelpers client:only="vue" />
		<script src="@root/lib/fixLinks.ts"></script>
		<script src="@root/lib/setActiveLink.ts"></script>
	</body>
</html>
