# "PUBLIC_" variables are used by the frontend
# All others are private and "/lib/utils/getEnvironmentVariable" should be used to access them
# Use "/lib/utils/getEnvironmentVariable" to avoid Astro's server-side code secret embedding
# I do not like embedding secrets inside server-side code

NODE_ENV="production"

PUBLIC_DOMAIN_NAME=""
PUBLIC_AUTH_AUTO_REDIRECT="0"
AUTH_API_ORIGIN="http://127.0.0.1:3000"

# Sample ENCRYPTION_KEY - MUST BE REPLACED, run `openssl rand --base64 32` to generate a new value
ENCRYPTION_KEY=""

# Sample JWT_SECRET - MUST BE REPLACED, run `openssl rand --base64 32` to generate a new value
JWT_SECRET=""

AUTO_MIGRATE_DB="1"

# TURNSTILE, check docs/cloudflare-turnstile.md for more info
TURNSTILE_SECRET=""
PUBLIC_TURNSTILE_SITE_KEY=""




# PROD #############################################################################################

# TURSO
# mkdir -p dev-sqlite && turso dev --port 8022 --db-file ./dev-sqlite/local-turso.db
AUTHAPI_TURSO_DB_URL="libsql://blabla-foo-bar-auth-prod.turso.io"
AUTHAPI_TURSO_DB_TOKEN="ey...-"

# RESEND
RESEND_API_KEY=""

# GOOGLE OAUTH
GOOGLE_OAUTH_CLIENT_ID=""
GOOGLE_OAUTH_CLIENT_SECRET=""
GOOGLE_OAUTH_REDIRECT_URI="https://auth.cart5dev.com/__p_auth/api/google_oauth/callback"

# PROD #############################################################################################





# DEPLOY #############################################################################################
UBUNTU_SERVER_IP=""
# CADDY PROXY
PROXY_SECRET="" # openssl rand -base64 64
SHARED_DATA_FOLDER="/var/lib/shared-data-folder/"
# DEPLOY #############################################################################################