# if unable to use an env var, turbo may override them
# https://turbo.build/repo/docs/crafting-your-repository/using-environment-variables

# RESEND
RESEND_API_KEY=""


# GOOGLE OAUTH
GOOGLE_OAUTH_CLIENT_ID=""
GOOGLE_OAUTH_CLIENT_SECRET=""

# SAMPLE
SAMPLE_ENV_VAR="sample_value"
