# if unable to use an env var, turbo may override them
# https://turbo.build/repo/docs/crafting-your-repository/using-environment-variables

# NODE
NODE_ENV="development"

# RESEND
RESEND_API_KEY=""


# GOOGLE OAUTH
GOOGLE_OAUTH_CLIENT_ID=""
GOOGLE_OAUTH_CLIENT_SECRET=""
GOOGLE_OAUTH_REDIRECT_URI="http://localhost:3000/login/google/callback"

# Sample ENCRYPTION_KEY - MUST BE REPLACED, run `openssl rand --base64 16` to generate a new value
ENCRYPTION_KEY="qdQUaaa3L0DEUJr1qqM7qQ==" 

# Sample JWT_SECRET - MUST BE REPLACED, run `openssl rand --base64 16` to generate a new value
JWT_SECRET="YNc5jNgt+jLR6vWwO5HEqg==" 
