# if unable to use an env var, turbo may override them check envMode:loose
# https://turbo.build/repo/docs/crafting-your-repository/using-environment-variables

# DEV+PROD ############################################################
# NODE
NODE_ENV="development"
PUBLIC_DOMAIN_NAME="cart5.dev"

# GOOGLE OAUTH
GOOGLE_OAUTH_CLIENT_ID=""
GOOGLE_OAUTH_CLIENT_SECRET=""
GOOGLE_OAUTH_REDIRECT_URI="http://localhost:3000/api/login/google-callback"


# Sample ENCRYPTION_KEY - MUST BE REPLACED, run `openssl rand --base64 32` to generate a new value
ENCRYPTION_KEY="TxhRlnaVfHQQ/3tOZWYLejEPmPVyIWI/Ojp9JwupBU0="
# Sample JWT_SECRET - MUST BE REPLACED, run `openssl rand --base64 32` to generate a new value
JWT_SECRET="gE8lnAagZmmIJjWl2aragA5r9QAnyVDyLauL7hnwEmo="


# PROD ONLY ############################################################
# TURSO DB FOR AUTH
TURSO_AUTH_DB_TOKEN=""
TURSO_AUTH_DB_URL=""

# RESEND
RESEND_API_KEY=""
# PROD ONLY ############################################################