---
import BaseLayout from "@web-astro/layout/BaseLayout.astro";
const { orderId } = Astro.params;
---

<BaseLayout title={`order details`}>
	<div data-order-id={orderId}>
		<h1>Order Details</h1>
		orderId:<p>{orderId}</p>
		<pre id="order-details"></pre>
	</div>
	<script>
		import { authGlobalApiClient } from "@api-client/auth_global";
		import { toast } from "@/ui-plus/sonner";

		const orderElement = document.querySelector<HTMLDivElement>("[data-order-id]");
		const { data, error } = await (
			await authGlobalApiClient[":orderId"].details.$get({
				param: {
					orderId: orderElement?.dataset.orderId ?? ""
				}
			})
		).json();
		if (error) {
			console.error(error);
			toast.error(error.message ?? "An unknown error occurred");
		} else {
			console.log(data);
			document.getElementById("order-details")!.textContent = JSON.stringify(data, null, 2);
		}
	</script>
</BaseLayout>
