---
import BaseLayout from "src/layouts/BaseLayout.astro";
import Auth from "../components/Auth.vue";
---

<BaseLayout>
	<div class="container justify-center p-1">
		<!-- {import.meta.env.PUBLIC_DOMAIN_NAME} authentication -->
		<Auth client:only="vue" class="mx-auto my-auto" />
	</div>
</BaseLayout>
