---
import BaseLayout from "src/layouts/BaseLayout.astro";
import AuthTabs from "../components/AuthTabs.vue";
---

<BaseLayout>
	<div class="container justify-center p-1 sm:p-5">
		<AuthTabs client:visible class="mx-auto my-auto" />
	</div>
</BaseLayout>
