---
import AuthPagesLayout from "@root/layouts/AuthPagesLayout.astro";
import Logo from "@root/components/Logo.astro";
import { Card, CardContent } from "@/components/ui/card";
import { Separator } from "@/components/ui/separator";
import AuthMenu from "@root/components/AuthMenu.astro";
import GoogleButton from "@root/components/GoogleButton.astro";
import LoginForm from "@root/components/vue/forms/LoginForm.vue";
import { Button } from "@/components/ui/button";
import { ROUTES } from "@root/const";
---

<AuthPagesLayout>
	<Logo />
	<AuthMenu />
	<Card>
		<CardContent class="my-6">
			<LoginForm client:visible />
			<Button as="a" href={ROUTES.OTP} class="my-6 w-full" variant="secondary"> Forgot password? </Button>
			<Separator class="my-10" label="Or" />
			<GoogleButton />
		</CardContent>
	</Card>
</AuthPagesLayout>
