---
import AuthPagesLayout from "@root/layouts/AuthPagesLayout.astro";
import Logo from "@root/components/Logo.astro";
import { Card, CardContent } from "@/components/ui/card";
import Separator from "ui-shadcn-vue/src/ui-plus/separator/Separator.vue";
import AuthMenu from "@root/components/AuthMenu.astro";
import GoogleButton from "@root/components/GoogleButton.astro";
import LoginForm from "@root/components/vue/auth-forms/LoginForm.vue";
import { buttonVariants } from "@/components/ui/button";
import { cn } from "@/lib/utils";
import { ROUTES } from "@root/const";
---

<AuthPagesLayout>
	<Logo />
	<AuthMenu />
	<Card>
		<CardContent class="my-6">
			<LoginForm client:visible />
			<a
				class={cn(buttonVariants({ size: "lg" }), buttonVariants({ variant: "secondary" }), "my-6", "w-full")}
				href={ROUTES.OTP}>
				Forgot password?
			</a>
			<Separator class="my-10" label="Or" />
			<GoogleButton />
		</CardContent>
	</Card>
</AuthPagesLayout>
