---
import AuthPagesLayout from "@root/layouts/AuthPagesLayout.astro";
import Logo from "@root/components/Logo.astro";
import { Card, CardContent } from "@/components/ui/card";
import { Separator } from "@/components/ui/separator";
import AuthMenu from "@root/components/AuthMenu.astro";
import GoogleButton from "@root/components/GoogleButton.astro";
---

<AuthPagesLayout>
	<Logo />
	<AuthMenu />
	<Card>
		<CardContent class="my-6">
			<h1 class="text-2xl font-bold">OTP FORM</h1>
			<Separator class="my-10" label="Or" />
			<GoogleButton />
			<Separator class="my-10" label="Or" />
		</CardContent>
	</Card>
</AuthPagesLayout>
