---
import type { Item, MenuRoot } from "@lib/zod/menuRootSchema";
import ItemCard from "./ItemCard.astro";
import { type getStoreData_CacheJSON } from "@db/cache_json/store.cache_json";

interface Props {
	item: Item | undefined;
	getMenuRoot: () => MenuRoot;
	storeData: Awaited<ReturnType<typeof getStoreData_CacheJSON>>;
}

const { item, getMenuRoot, storeData } = Astro.props;
---

<div class="category-container bg-background mb-12">
	<div class="flex items-center justify-between py-2">
		<div class="flex-1 text-2xl font-bold">
			<span class="h-10 cursor-text text-3xl font-bold capitalize">
				{item?.lbl || "Category Name"}
			</span>
		</div>
	</div>
	<div class="my-4 grid grid-cols-1 gap-6 lg:grid-cols-2">
		{
			item?.cIds?.map((childId) => {
				const child = getMenuRoot().allItems?.[childId];
				return <ItemCard item={child} storeData={storeData} />;
			})
		}
	</div>
</div>
