NODE_ENV="production"

PUBLIC_DOMAIN_NAME=""
PUBLIC_AUTH_AUTO_REDIRECT="0"
AUTH_API_ORIGIN="http://127.0.0.1:3000"

# Sample ENCRYPTION_KEY - MUST BE REPLACED, run `openssl rand --base64 32` to generate a new value
ENCRYPTION_KEY=""

# Sample JWT_SECRET - MUST BE REPLACED, run `openssl rand --base64 32` to generate a new value
JWT_SECRET=""

AUTO_MIGRATE_DB="1"

# TURNSTILE, check docs/cloudflare-turnstile.md for more info
TURNSTILE_SECRET=""
PUBLIC_TURNSTILE_SITE_KEY=""

# PROD #############################################################################################

# RESEND
RESEND_API_KEY=""

# GOOGLE OAUTH
GOOGLE_OAUTH_CLIENT_ID=""
GOOGLE_OAUTH_CLIENT_SECRET=""
GOOGLE_OAUTH_REDIRECT_URI="https://auth.cart5dev.com/__p_auth/api/google_oauth/callback"

# PROD #############################################################################################