---
import UserPagesLayout from "@root/layouts/UserPagesLayout.astro";
import Logo from "@root/components/Logo.astro";
import { Card, CardContent } from "@/components/ui/card";
import { Separator } from "@/components/ui/separator";
import LogoutButton from "@root/components/LogoutButton.astro";
---

<UserPagesLayout>
	<Logo />
	<Card>
		<CardContent class="my-6">
			<h1 class="text-2xl font-bold">ASK</h1>
			<Separator class="my-10" label="Or" />
			<LogoutButton />
			<Separator class="my-10" label="Or" />
		</CardContent>
	</Card>
	<script>
		import { toast } from "@/components/ui/sonner";
		document.addEventListener("DOMContentLoaded", () => {
			setTimeout(() => {
				toast.success("welcome back", {
					description: "Click continue to use your account"
				});
			}, 500);
		});
	</script>
</UserPagesLayout>
