---
import StoreCard from "./StoreCard.astro";
import type { OrderType } from "@lib/types/orderType";

interface Props {
	stores: Array<{
		id: string;
		name: string;
		address1: string | null;
		distance: number;
		[key: string]: any;
	}>;
	measure: string | undefined;
	orderType: OrderType | undefined;
}

const { stores, measure = "km", orderType = "delivery" } = Astro.props;
---

<div class="mb-4 grid gap-4 md:grid-cols-2 lg:grid-cols-3">
	{stores.map((store) => <StoreCard store={store} measure={measure} orderType={orderType} />)}
</div>
