---
import BaseLayout from "../layout/BaseLayout.astro";
const lat = Number(Astro.url.searchParams.get("lat"));
const lng = Number(Astro.url.searchParams.get("lng"));
const address = Astro.url.searchParams.get("address");
const country = Astro.url.searchParams.get("country");
const measure = Astro.url.searchParams.get("measure") ?? "km";
const searchParams = Object.fromEntries(Astro.url.searchParams.entries());
const website = Astro.locals.WEBSITE;
---

<BaseLayout title={website?.name ?? "List"}>
	<h1>List</h1>
	<pre>{JSON.stringify(searchParams, null, 2)}</pre>
</BaseLayout>
